@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Poppins',sans-serif;
}
body{
  min-height:100vh;
  overflow-x:hidden;

  background:
  radial-gradient(circle at top left,
  #7b2cbf 0%,
  transparent 30%),

  radial-gradient(circle at bottom right,
  #240046 0%,
  transparent 35%),

  #120021;

  color:white;
}
#root{
  min-height:100vh;
}

/* ================= NAVBAR ================= */

.navbar{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:20px 60px;
  background:rgba(255,255,255,0.08);
  backdrop-filter:blur(15px);
  border-bottom:1px solid rgba(255,255,255,0.2);
}

.navbar h1{
  font-size:32px;
  color:white;
  font-weight:700;
}

.nav-links{
  display:flex;
  gap:30px;
}

.nav-links a{
  text-decoration:none;
  color:white;
  font-weight:500;
  transition:.3s;
}

.nav-links a:hover{
  color:#543db0;
}

/* ================= PAGE ================= */

.page-shell{
  display:flex;
  justify-content:center;
  align-items:flex-start;
  padding:40px;
}

/* ================= CARD ================= */

.card{
  width:100%;
  max-width:1100px;

  background:
  rgba(255,255,255,.05);

  backdrop-filter:blur(25px);

  border:
  1px solid rgba(255,255,255,.08);

  border-radius:30px;

  padding:35px;

  box-shadow:
  0 20px 50px rgba(0,0,0,.3);
}

.card h2{
  text-align:center;
  margin-bottom:25px;
  color:white;
  font-size:32px;
}

/* ================= FORM ================= */

form{
  display:flex;
  flex-direction:column;
  gap:18px;
}

input,
select{
  width:100%;
  padding:15px;
  border:none;
  border-radius:12px;
  background:rgba(255,255,255,0.15);
  color:white;
  font-size:16px;
  outline:none;
}

input::placeholder{
  color:#e5e7eb;
}

select option{
  color:black;
}

input:focus,
select:focus{
  border:1px solid #ffffff;
  box-shadow:0 0 15px rgba(255,255,255,0.4);
}

/* ================= BUTTONS ================= */

button{
  cursor:pointer;
  border:none;
  transition:.3s;
}

.submit-btn,
button[type="submit"]{
  background:#2563eb;
  color:white;
  padding:15px;
  border-radius:12px;
  font-size:16px;
  font-weight:600;
}

.submit-btn:hover,
button[type="submit"]:hover{
  transform:translateY(-3px);
  background:#1d4ed8;
}

.edit-btn{
  background:#3ed4d6;
  color:white;
  padding:8px 16px;
  border-radius:8px;
  margin-right:5px;
}

.edit-btn:hover{
  background:#5be0d0;
}

.delete-btn{
  background:#e37474;
  color:white;
  padding:8px 16px;
  border-radius:8px;
}

.delete-btn:hover{
  background:#f68888;
}

/* ================= SEARCH ================= */

.search-box{

  background:
  rgba(255,255,255,.07);

  border:
  1px solid rgba(255,255,255,.08);

  border-radius:20px;

  padding:18px;
}

/* ================= TABLE ================= */

table{
  width:100%;
  border-collapse:collapse;
  overflow:hidden;
  border-radius:15px;
  background:rgba(255,255,255,0.08);
}

table th{
  background:rgba(255,255,255,0.15);
  color:white;
  padding:16px;
  font-size:17px;
}

table td{
  padding:16px;
  text-align:center;
  border-top:1px solid rgba(255,255,255,0.15);
}

table tr{
  transition:.3s;
}

table tr:hover{
  transform:scale(1.01);

  background:
  rgba(255,255,255,.08);
}

/* ================= DASHBOARD CARDS ================= */


.stat-box h3{
  font-size:40px;
  margin-bottom:8px;
}

.stat-box p{
  font-size:16px;
}


/* ================= RESPONSIVE ================= */

@media(max-width:768px){

  .navbar{
    flex-direction:column;
    gap:15px;
    padding:20px;
  }

  .navbar h1{
    font-size:24px;
    text-align:center;
  }

  .nav-links{
    gap:15px;
  }

  .card{
    padding:20px;
  }

  .hero h1{
    font-size:40px;
  }

  table{
    display:block;
    overflow-x:auto;
  }
}
/* Modal Background */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(18, 44, 82, 0.636);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Modal Box */

.modal-box {
  width: 420px;
  padding: 30px;
  border-radius: 20px;

  background: linear-gradient(
    135deg,
    #7c3aed,
    #c026d3,
    #ec4899
  );

  color: white;
  text-align: center;

  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);

  animation: popup 0.3s ease;
}

.modal-box h2 {
  margin-bottom: 15px;
  color: white;
}

.modal-box p {
  margin-bottom: 25px;
  font-size: 18px;
}
.ok-btn {
  background-color: #2863a7;
  color: white;
  border: none;
  padding: 10px 25px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}

.ok-btn:hover {
  background-color: #214f88;
}
/* ================= BUTTONS ================= */

button {
cursor: pointer;
border: none;
transition: all 0.3s ease;
}

button:hover {
transform: translateY(-5px);
}

.submit-btn,
button[type="submit"] {
background: #2563eb;
color: white;
padding: 15px;
border-radius: 12px;
font-size: 16px;
font-weight: 600;
}

.submit-btn:hover,
button[type="submit"]:hover {
background: #1d4ed8;
}

/* Edit Button */

.edit-btn {
background: #3ed4d6;
color: white;
padding: 8px 16px;
border-radius: 8px;
margin-right: 5px;
}

.edit-btn:hover {
background: #5be0d0;
box-shadow: 0 8px 20px rgba(0,0,0,0.25);
}

/* Delete Button */

.delete-btn {
background: #eb334e;
color: white;
padding: 8px 16px;
border-radius: 8px;
margin-right: 5px;
}

.delete-btn:hover {
background: #dc2626;
box-shadow: 0 8px 20px rgba(0,0,0,0.25);
}

/* Cancel Button */

.cancel-btn {
background: rgb(67, 49, 49);
color: #7c3aed;
padding: 8px 16px;
border-radius: 8px;
font-weight: 600;
}

.cancel-btn:hover {
background: #896e6d;
}

/* ================= TOOLTIP ================= */

.tooltip {
position: relative;
display: inline-block;
}

.tooltip-text {
visibility: hidden;
opacity: 0;

position: absolute;
bottom: 125%;
left: 50%;
transform: translateX(-50%);

background: #333;
color: white;

padding: 6px 10px;
border-radius: 6px;

white-space: nowrap;
font-size: 12px;

transition: opacity 0.3s ease;
z-index: 1000;
}

.tooltip:hover .tooltip-text {
visibility: visible;
opacity: 1;
}
select {
  color: black;
}

select option {
  color: black;
  background-color: white;
}

select option:checked {
  background-color: lightblue;
  color: black;
}
.available-date {
  background-color: green !important;
  color: white !important;
  border-radius: 50%;
}

.full-date {
  background-color: red !important;
  color: white !important;
  border-radius: 50%;
}

.main-content{
  margin-left:80px;
}
.shape{
  position:fixed;
  z-index:-1;
}

.circle1{
  width:250px;
  height:250px;

  border-radius:50%;

  background:
  rgba(255,255,255,.03);

  top:100px;
  right:100px;
}

.circle2{
  width:150px;
  height:150px;

  border-radius:50%;

  background:
  rgba(255,255,255,.05);

  bottom:150px;
  left:150px;
}

.diamond{
  width:120px;
  height:120px;

  background:
  rgba(255,255,255,.03);

  transform:rotate(45deg);

  right:300px;
  bottom:150px;
}
.orbit{
  position:fixed;

  width:600px;
  height:600px;

  border-radius:50%;

  border:1px solid rgba(255,255,255,.05);

  bottom:-200px;
  right:-200px;

  z-index:-1;
}

.menu{
  display:flex;
  flex-direction:column;
  gap:35px;
}

.menu a{
  text-decoration:none;
  font-size:28px;
  color:white;

  transition:.3s;
}

.menu a:hover{
  transform:scale(1.2);
}
.logo{
  font-size:22px;
  font-weight:700;
}
body::before{
  content:"";

  position:fixed;

  width:500px;
  height:500px;

  top:-100px;
  right:-100px;

  background:
  radial-gradient(
      rgba(168,85,247,.25),
      transparent
  );

  filter:blur(80px);

  z-index:-1;
}
.react-datepicker{
  border:none !important;
  border-radius:20px !important;
  overflow:hidden;
}

.react-datepicker__header{
  background:#4c1d95 !important;
  color:white !important;
}
body::before{
  content:"";

  position:fixed;

  width:500px;
  height:500px;

  top:-100px;
  right:-100px;

  background:
  radial-gradient(
      rgba(168,85,247,.25),
      transparent
  );

  filter:blur(80px);

  z-index:-1;
}
